
Chapter5_view_and_viewGroup/.gradle/5.4.1/executionHistory/executionHistory.bin
Chapter5_view_and_viewGroup/.gradle/5.4.1/executionHistory/executionHistory.lock
Chapter5_view_and_viewGroup/.gradle/5.4.1/fileChanges/last-build.bin
Chapter5_view_and_viewGroup/.gradle/5.4.1/fileHashes/fileHashes.bin
Chapter5_view_and_viewGroup/.gradle/5.4.1/fileHashes/fileHashes.lock
Chapter5_view_and_viewGroup/.gradle/5.4.1/gc.properties
Chapter5_view_and_viewGroup/.gradle/buildOutputCleanup/buildOutputCleanup.lock
Chapter5_view_and_viewGroup/.gradle/buildOutputCleanup/cache.properties
Chapter5_view_and_viewGroup/.gradle/buildOutputCleanup/outputFiles.bin
Chapter5_view_and_viewGroup/.gradle/vcs-1/gc.properties
Chapter5_view_and_viewGroup/.idea/caches/build_file_checksums.ser
Chapter5_view_and_viewGroup/.idea/caches/gradle_models.ser
Chapter5_view_and_viewGroup/.idea/codeStyles/Project.xml
Chapter5_view_and_viewGroup/.idea/libraries/Gradle__androidx_annotation_annotation_1_0_0_jar.xml
Chapter5_view_and_viewGroup/.idea/libraries/Gradle__androidx_appcompat_appcompat_1_0_2_aar.xml
Chapter5_view_and_viewGroup/.idea/libraries/Gradle__androidx_arch_core_core_common_2_0_0_jar.xml
Chapter5_view_and_viewGroup/.idea/libraries/Gradle__androidx_arch_core_core_runtime_2_0_0_aar.xml
Chapter5_view_and_viewGroup/.idea/libraries/Gradle__androidx_asynclayoutinflater_asynclayoutinflater_1_0_0_aar.xml
Chapter5_view_and_viewGroup/.idea/libraries/Gradle__androidx_collection_collection_1_0_0_jar.xml
Chapter5_view_and_viewGroup/.idea/libraries/Gradle__androidx_constraintlayout_constraintlayout_1_1_3_aar.xml
Chapter5_view_and_viewGroup/.idea/libraries/Gradle__androidx_constraintlayout_constraintlayout_solver_1_1_3_jar.xml
Chapter5_view_and_viewGroup/.idea/libraries/Gradle__androidx_coordinatorlayout_coordinatorlayout_1_0_0_aar.xml
Chapter5_view_and_viewGroup/.idea/libraries/Gradle__androidx_core_core_1_0_1_aar.xml
Chapter5_view_and_viewGroup/.idea/libraries/Gradle__androidx_cursoradapter_cursoradapter_1_0_0_aar.xml
Chapter5_view_and_viewGroup/.idea/libraries/Gradle__androidx_customview_customview_1_0_0_aar.xml
Chapter5_view_and_viewGroup/.idea/libraries/Gradle__androidx_documentfile_documentfile_1_0_0_aar.xml
Chapter5_view_and_viewGroup/.idea/libraries/Gradle__androidx_drawerlayout_drawerlayout_1_0_0_aar.xml
Chapter5_view_and_viewGroup/.idea/libraries/Gradle__androidx_fragment_fragment_1_0_0_aar.xml
Chapter5_view_and_viewGroup/.idea/libraries/Gradle__androidx_interpolator_interpolator_1_0_0_aar.xml
Chapter5_view_and_viewGroup/.idea/libraries/Gradle__androidx_legacy_legacy_support_core_ui_1_0_0_aar.xml
Chapter5_view_and_viewGroup/.idea/libraries/Gradle__androidx_legacy_legacy_support_core_utils_1_0_0_aar.xml
Chapter5_view_and_viewGroup/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_common_2_0_0_jar.xml
Chapter5_view_and_viewGroup/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_2_0_0_aar.xml
Chapter5_view_and_viewGroup/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_core_2_0_0_aar.xml
Chapter5_view_and_viewGroup/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_2_0_0_aar.xml
Chapter5_view_and_viewGroup/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_2_0_0_aar.xml
Chapter5_view_and_viewGroup/.idea/libraries/Gradle__androidx_loader_loader_1_0_0_aar.xml
Chapter5_view_and_viewGroup/.idea/libraries/Gradle__androidx_localbroadcastmanager_localbroadcastmanager_1_0_0_aar.xml
Chapter5_view_and_viewGroup/.idea/libraries/Gradle__androidx_print_print_1_0_0_aar.xml
Chapter5_view_and_viewGroup/.idea/libraries/Gradle__androidx_slidingpanelayout_slidingpanelayout_1_0_0_aar.xml
Chapter5_view_and_viewGroup/.idea/libraries/Gradle__androidx_swiperefreshlayout_swiperefreshlayout_1_0_0_aar.xml
Chapter5_view_and_viewGroup/.idea/libraries/Gradle__androidx_test_espresso_espresso_core_3_1_1_aar.xml
Chapter5_view_and_viewGroup/.idea/libraries/Gradle__androidx_test_espresso_espresso_idling_resource_3_1_1_aar.xml
Chapter5_view_and_viewGroup/.idea/libraries/Gradle__androidx_test_monitor_1_1_1_aar.xml
Chapter5_view_and_viewGroup/.idea/libraries/Gradle__androidx_test_runner_1_1_1_aar.xml
Chapter5_view_and_viewGroup/.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_1_0_1_aar.xml
Chapter5_view_and_viewGroup/.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_animated_1_0_0_aar.xml
Chapter5_view_and_viewGroup/.idea/libraries/Gradle__androidx_versionedparcelable_versionedparcelable_1_0_0_aar.xml
Chapter5_view_and_viewGroup/.idea/libraries/Gradle__androidx_viewpager_viewpager_1_0_0_aar.xml
Chapter5_view_and_viewGroup/.idea/libraries/Gradle__com_google_code_findbugs_jsr305_2_0_1_jar.xml
Chapter5_view_and_viewGroup/.idea/libraries/Gradle__com_squareup_javawriter_2_1_1_jar.xml
Chapter5_view_and_viewGroup/.idea/libraries/Gradle__javax_inject_javax_inject_1_jar.xml
Chapter5_view_and_viewGroup/.idea/libraries/Gradle__junit_junit_4_12_jar.xml
Chapter5_view_and_viewGroup/.idea/libraries/Gradle__net_sf_kxml_kxml2_2_3_0_jar.xml
Chapter5_view_and_viewGroup/.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3_jar.xml
Chapter5_view_and_viewGroup/.idea/libraries/Gradle__org_hamcrest_hamcrest_integration_1_3_jar.xml
Chapter5_view_and_viewGroup/.idea/libraries/Gradle__org_hamcrest_hamcrest_library_1_3_jar.xml
Chapter5_view_and_viewGroup/.idea/modules.xml
Chapter5_view_and_viewGroup/.idea/workspace.xml
Chapter5_view_and_viewGroup/app/app.iml
Chapter5_view_and_viewGroup/app/build/generated/source/buildConfig/androidTest/debug/com/hjn/chapter5_view_and_viewgroup/test/BuildConfig.java
Chapter5_view_and_viewGroup/app/build/generated/source/buildConfig/debug/com/hjn/chapter5_view_and_viewgroup/BuildConfig.java
Chapter5_view_and_viewGroup/app/build/intermediates/apk_list/debug/mainApkListPersistenceDebug/apk-list.gson
Chapter5_view_and_viewGroup/app/build/intermediates/bundle_manifest/debug/processDebugManifest/bundle-manifest/AndroidManifest.xml
Chapter5_view_and_viewGroup/app/build/intermediates/bundle_manifest/debug/processDebugManifest/bundle-manifest/output.json
Chapter5_view_and_viewGroup/app/build/intermediates/compatible_screen_manifest/debug/createDebugCompatibleScreenManifests/out/output.json
Chapter5_view_and_viewGroup/app/build/intermediates/instant_app_manifest/debug/AndroidManifest.xml
Chapter5_view_and_viewGroup/app/build/intermediates/instant_app_manifest/debug/output.json
Chapter5_view_and_viewGroup/app/build/intermediates/manifest_merge_blame_file/debug/manifest-merger-blame-debug-report.txt
Chapter5_view_and_viewGroup/app/build/intermediates/manifest_merge_blame_file/debugAndroidTest/manifest-merger-blame-debug-androidTest-report.txt
Chapter5_view_and_viewGroup/app/build/intermediates/merged_manifests/debug/AndroidManifest.xml
Chapter5_view_and_viewGroup/app/build/intermediates/merged_manifests/debug/output.json
Chapter5_view_and_viewGroup/app/build/intermediates/merged_manifests/debugAndroidTest/AndroidManifest.xml
Chapter5_view_and_viewGroup/app/build/intermediates/merged_manifests/debugAndroidTest/output.json
Chapter5_view_and_viewGroup/app/build/intermediates/metadata_feature_manifest/debug/processDebugManifest/metadata-feature/output.json
Chapter5_view_and_viewGroup/app/build/outputs/logs/manifest-merger-debug-report.txt
Chapter5_view_and_viewGroup/Chapter5_view_and_viewGroup.iml
Chapter5_view_and_viewGroup/local.properties
*.gradle
*.pro
*.jar
*.bat
*.properties
*.png
